[width="32"]>[class^=avatarStack_]>[class^=avatar_], /*Memberlist, Dmlist, Friendlist avatars*/ 
[class^=contents_]>[class^=avatar_], /*Chat ring*/
[class^=wrapper_]:is([style^="width: 32px"]) /*Small ring*/
{
  border-radius: calc(var(--rs-small-roundness)/2);
}
[width="80"]>[class^=avatarStack_]>[class^=avatar_], /*Userpopout avatar*/
[class^=clickable_] /*Userpopout ring*/ {
  border-radius: calc(var(--rs-medium-roundness)/2);
}
[width="120"]>[class^=avatarStack_]>[class^=avatar_], /*Profile avatar*/
[class^=wrapper_]:is([style^="width: 120px"]) /*Profile ring*/
{
  border-radius: calc(var(--rs-large-roundness)/2);
}