[class^=contents_]>[class^=avatar_], /*Chat*/
[class^=wrapper_]:is([style^="width: 32px"]) /*Small*/{
scale: var(--rs-small-size, 1);
}
[class^=clickable_] /*Medium*/{
scale: var(--rs-medium-size, 1);
}
[class^=wrapper_]:is([style^="width: 120px"])/*Large*/{
scale: var(--rs-large-size, 1);
}