:root {--home-icon:url(https://cdn.discordapp.com/attachments/860592935203766292/1123232266840182895/32LC1BvzhRyg0vkt.png);--home-position: center;--home-size: 40px;}

.homeIcon-r0w4ny {
    background-image: url(https://cdn.discordapp.com/attachments/1134473364199710901/1134492039275368549/tjyVSzB.png);
    image-rendering: pixelated;
}
.wrapper-3kah-n.selected-1Drb7Z>:first-child>:first-child {
    background-image: url(https://cdn.discordapp.com/emojis/1093803211783143504.gif?size=160&quality=lossless);
    animation-name: getup;
    animation-duration: 3s;
}
@keyframes getup {
0% {background-image: url(https://cdn.discordapp.com/attachments/1134473364199710901/1134492039275368549/tjyVSzB.png);}
20% {background-image: url(https://cdn.discordapp.com/attachments/1134473364199710901/1134492038809796710/YUZw22Y.png);}
50% {background-image: url(https://cdn.discordapp.com/attachments/1134473364199710901/1134492038407147610/AQ06UiW.png);}
70% {background-image: url(https://cdn.discordapp.com/attachments/1134473364199710901/1134492038109347870/VBU6LyF.png);}
}