:root {
  --sc-version: "1.3.0";
  --bg-overlay-1: ;
}
.container-YkUktl:before, .container-YkUktl:after {
  display: none;
}
.panels-3wFtMD:before {
  position: absolute;
  content: "shiggycord " var(--sc-version);
  font-size: 13px;
  color: var(--main-color);
  bottom: -12px;
  left: 65px;
  font-weight: 700;

}
.panels-3wFtMD:hover:before {
  bottom: 4px;
  transition-duration: 2s;
}
#app-mount .info-3pQQBb .text-xs-normal-3O7EaX.line-18uChy:first-child:before {
  content: "Shiggycord " var(--sc-version);
  display: block;
}

[aria-label="Threads"],/*Open Thread Icon in Toolbar */
[aria-label="Notification Settings"] /*Notification Settings Icon in Toolbar*/, 
[aria-label="New Group DM"]/*New Group DM in Friends Menu */, 
.recentsIcon-F3eO1o /*Unread Inbox */{
  display: none;
}
