.newMemberBadge-3PdStX,[src="https://cdn.discordapp.com/role-icons/1017150273946394746/1794c29523f79413c79d45194b664810.webp?size=28&quality=lossless"]  {
    content: url(https://cdn.discordapp.com/emojis/1093803211783143504.gif?size=160&quality=lossless);
}
.channelTextArea-1VQBuV:before {
    content: url("https://cdn.discordapp.com/attachments/860592935203766292/1123746112830976000/6HkPRyq.png");
    position: absolute;
    bottom: -2px;
    right: -36px;
    display: block;
}
.chat-2ZfjoI:after {
    content: url("https://cdn.discordapp.com/attachments/860592935203766292/1123746279856545792/Y50BiFc.png");
    bottom: 22px;
    left: -40px;
    position: absolute;
}
#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI {
  overflow: visible;
}
#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div {
    background: url(https://cdn.discordapp.com/attachments/860592935203766292/1123744277466456124/xsvIERi.png);
    border-radius: 0px;
    box-shadow: none;
    background-position-y: 100%;
    background-repeat: repeat-x;
}
#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div.typing-2J1mQU.base-3bcbY3 {
  background: none;
}

#vc-spotify-progress-bar .bar-2H7Q9u {
  background: url("https://cdn.discordapp.com/attachments/860592935203766292/1123993828009988248/oOQBMj0.png") !important;
  background-size: 100% !important;
  height: 4px !important;
}
.barFill-3RgCsY {
  display: none;
}
#vc-spotify-progress-bar > div.sliderContainer-3vLXjN > div > div:nth-child(3) > div {
  border: none;
  background-color: rgba(0,0,0,0);
  box-shadow: none; 
}
.grabber-3R-Rx9:after {
  content: "";
  background: url("https://cdn.discordapp.com/attachments/860592935203766292/1123987529331392574/ZJVWifs.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px !important;
  height: 18px !important;
  position: absolute;
  left: -4px;
  top: -13px;
  transform: scaleX(-1);
}
#vc-spotify-progress-bar:before {
    content: "";
    position: absolute;
    background: url(https://cdn.discordapp.com/attachments/860592935203766292/1123998596514197515/c19Wayw.png);
    background-size: contain;
    height: 20px;
    width: 12.8px;
    bottom: 17px;
    left: -5px;
    display: block;
}
#vc-spotify-progress-bar:after {
    content: "";
    position: absolute;
    background: url(https://cdn.discordapp.com/attachments/860592935203766292/1124000386567647303/IXwpwda.png);
    background-size: contain;
    height: 20px;
    width: 12.8px;
    bottom: 17px;
    left: 195px;
    display: block;
}