:root { /* Main */
  --main-primary-colour: salmon;
  --main-primary-colour-transparency: 70%;
  --main-border-colour: var(--main-primary-colour);
  --main-border-thickness: 2px;
  --main-border-style: solid;
  --main-hover-colour: color-mix(in srgb, var(--main-primary-colour) var(--main-hover-transparency), transparent);
  --main-hover-transparency: 50%;
  --main-roundness: 1em;
  --main-icon-roundness: 100%;}
:root { /*SettingsWindow*/ 
  --settings-background: url(https://shiggy.fun/api/v3/random?gdwag);
  --settings-outer-background: rgba(0,0,0,0.4);
  --settings-width: 90vw;
  --settings-height: 90vh;}
:root { /*Oneko*/ 
  --onekohomeicon-skin: url(https://cdn.discordapp.com/attachments/1142160576588566608/1142162510749896714/valentine.png);
  --onekohomeicon-wakeup-duration: 2s;		/* duration of wakeup and go to sleep animations*/
  --onekohomeicon-sleep-duration: 1s;		/* duration of sleeping animation */
  --onekohomeicon-hovered-animation: alert;  /* animation while hovered */
  --onekohomeicon-hovered-duration: 0.3s;  /* duration of hovered animation */
  --onekohomeicon-focused-animation: alert; 	/* animation while focused */
  --onekohomeicon-focused-duration: 0.3s;		/* duration of focused animation */
  --onekohomeicon-resolution: 1;
  --onekomessagebar-skin: url(https://cdn.discordapp.com/attachments/1142160576588566608/1142162510749896714/valentine.png);
  --onekomessagebar-wakeup-duration: 2s;		/* duration of wakeup and go to sleep animations*/
  --onekomessagebar-sleep-duration: 2s;		/* duration of sleeping animation */
  --onekomessagebar-hovered-animation: scratchdown;  /* animation while hovered */
  --onekomessagebar-hovered-duration: 0.3s;  /* duration of hovered animation */
  --onekomessagebar-focused-animation: scratchdown; 	/* animation while focused */
  --onekomessagebar-focused-duration: 0.3s;		/* duration of focused animation */
  --onekomessagebar-resolution: 1;
  --onekomessagebar-position-top: -20px;  /* vertical position */
  --onekomessagebar-position-left: 10px; /* horizontal position */
  --onekomessagebar-z-index: 2;  /* change if unproperly overlapping */}
:root { /*Radialstatus*/
  --rs-online-color: #43b581; /* default: #43b581 */
  --rs-idle-color: #faa61a; /* default: #faa61a */
  --rs-dnd-color: #f04747; /* default: #f04747 */
  --rs-offline-color: #636b75; /* default: #636b75 */
  --rs-bot-color: #5865f2; /* default: #5865f2 */
  --rs-spacer-color: transparent; /*default: transparent*/
  --rs-show-platformindicators: none; /* default: none */
  --rs-small-size: 1; /* default: 0.85 */
  --rs-small-roundness: 100%; /* default: 100% */
  --rs-small-thickness: 4px; /* default: 2.5px */
  --rs-small-glow: 6px; /* default: 0px */
  --rs-small-spacing: 0px; /* default: 4px */
  --rs-medium-size: 1.1; /* default: 1 */
  --rs-medium-roundness: 100%; /* default: 100% */
  --rs-medium-thickness: 5px; /* default: 2.5px */
  --rs-medium-glow: 16px; /* default: 0px */
  --rs-medium-spacing: 0px; /* default: 4px */
  --rs-medium-backgroundcolor: none;
  --rs-medium-backgroundsize: 0px;
  --rs-large-size: 1; /* default: 1 */
  --rs-large-roundness: 100%; /* default: 100% */
  --rs-large-thickness: 8px; /* default: 2.5px */
  --rs-large-glow: 16px; /* default: 0px */
  --rs-large-spacing: 0px; /* default: 4px */}
:root { /* Background */
  --background-main: url(https://shiggy.fun/api/v3/random?main);
  --background-main-position: center;
  --background-main-size: cover;
  --background-main-repeat: no-repeat;
  --background-main-brightness: 40%;
  --background-serverlist: none;
  --background-serverlist-position: center;
  --background-serverlist-size: cover;
  --background-serverlist-repeat: no-repeat;
  --background-serverlist-brightness: 40%;
  --background-list: none;
  --background-list-position: center;
  --background-list-size: cover;
  --background-list-repeat: no-repeat;
  --background-list-brightness: 40%;
  --background-center: none;
  --background-center-position: center;
  --background-center-size: cover;
  --background-center-repeat: no-repeat;
  --background-center-brightness: 35%;
  --background-sidepanel: none;
  --background-sidepanel-position: center;
  --background-sidepanel-size: cover;
  --background-sidepanel-repeat: no-repeat;
  --background-sidepanel-brightness: 40%;}