:root { /*Radialstatus*/
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-bot-color: #5865f2;
  --rs-spacer-color: transparent;
  --rs-show-platformindicators: none;
  --rs-small-size: 0.85;
  --rs-small-roundness: 100%;
  --rs-small-thickness: 0px;
  --rs-small-glow: 0px;
  --rs-small-spacing: 0px;
  --rs-medium-size: 1;
  --rs-medium-roundness: 100%;
  --rs-medium-thickness: 1.5px;
  --rs-medium-glow: 0px;
  --rs-medium-spacing: 4px;
  --rs-medium-backgroundcolor: none;
  --rs-medium-backgroundsize: 0px;
  --rs-large-size: 1;
  --rs-large-roundness: 100%;
  --rs-large-thickness: 0px;
  --rs-large-glow: 0px;
  --rs-large-spacing: 4px;
}
.mask-1y0tyc>rect, .pointerEvents-2KjWnj, .avatar-3QF_VA>svg>circle, .contents-2MsGLg .vc-platform-indicator>svg, .avatarHoverTarget-1zzfRL>div>svg>circle {
  display: var(--rs-show-platformindicators, block);}
.cursorDefault-2M8ZNp, .bannerSVGWrapper-2CLfzN>mask>circle, .avatarHoverTarget-1zzfRL>div>svg>mask>rect, .avatarHintInner-2HUAWj{
  display: none
}
/* Fix cut off glow */
.userInfo-2WpsYG, .link-39sEB3, .peopleListItem-u6dGxF { 
  overflow: visible;
}
/* Chat, Memberlist, DMs and Friendlist */
:not(.vc-rdb-review)>.avatar-2e8lTP, :not(.wrappedLayout-31F4iI)>.avatar-6qzftW, .avatar-1HDIsL:not(:has(.linkButtonIcon-7rsZcu)), .avatar-2MSPKk {
  scale: var(--rs-small-size);
  margin-top: -0.25em;
  border: var(--rs-small-spacing) solid transparent;
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-small-roundness)/2);
  z-index: 1;
  background-clip: content-box;
}
.avatar-31d8He {
  z-index: 0;
  border-radius: calc(var(--rs-small-roundness)/2);
}
.contents-2MsGLg:has(svg[fill="var(--green-360"])>.avatar-2e8lTP, .memberInner--L4X2b:has(svg[fill="var(--green-360"])>.avatar-6qzftW, .layout-1LjVue:has(svg[fill="var(--green-360"])>.avatar-1HDIsL, .avatar-2MSPKk:is([aria-label*="Online"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-online-color)
}
.contents-2MsGLg:has(svg[fill="var(--yellow-300"])>.avatar-2e8lTP, .memberInner--L4X2b:has(svg[fill="var(--yellow-300"])>.avatar-6qzftW, .layout-1LjVue:has(svg[fill="var(--yellow-300"])>.avatar-1HDIsL, .avatar-2MSPKk:is([aria-label*="Idle"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-idle-color) 
}
.contents-2MsGLg:has(svg[fill="var(--red-400"])>.avatar-2e8lTP, .memberInner--L4X2b:has(svg[fill="var(--red-400"])>.avatar-6qzftW, .layout-1LjVue:has(svg[fill="var(--red-400"])>.avatar-1HDIsL, .avatar-2MSPKk:is([aria-label*="Do Not Disturb"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-dnd-color) 
}
.contents-2MsGLg:has([data-tag*="bot"])>.avatar-2e8lTP, .layout-1qmrhw:has([data-tag*="bot"])>:first-child  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-bot-color)
}
/* Popout and DM-Sidebar */
.avatarHoverTarget-1zzfRL>div>svg>foreignObject>div>img {
  border-radius: calc(var(--rs-medium-roundness)/2);
}
.avatarWrapper-eenWra {
  background: var(--rs-avatar-background);
  box-shadow: 0px 0px 0px var(--rs-medium-backgroundsize) var(--rs-medium-backgroundcolor);
}
.avatarHoverTarget-1zzfRL {
  scale: var(--rs-medium-size);
  border: var(--rs-medium-spacing) solid var(--rs-spacer-color);
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-medium-roundness)/2);
}
.userPopoutInner-nv9Y92:has(svg[fill="var(--green-360"])>.avatarWrapper-eenWra>.avatarHoverTarget-1zzfRL {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-online-color)
}
.userPopoutInner-nv9Y92:has(svg[fill="var(--yellow-300"])>.avatarWrapper-eenWra>.avatarHoverTarget-1zzfRL {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-idle-color) 
}
.userPopoutInner-nv9Y92:has(svg[fill="var(--red-400"])>.avatarWrapper-eenWra>.avatarHoverTarget-1zzfRL {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-dnd-color) 
}
.userPopoutInner-nv9Y92:has([data-tag*="bot"])>.avatarWrapper-eenWra>.avatarHoverTarget-1zzfRL {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-bot-color) 
}
/* Full Profile Pane */
.avatar-3QF_VA>svg>foreignObject>div>img {
  border-radius: calc(var(--rs-large-roundness)/2);
}
.avatar-3QF_VA {
  scale: var(--rs-large-size);
  border: var(--rs-large-spacing) solid var(--rs-spacer-color);
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-large-roundness)/2);
}
.header-S26rhB:has(svg[fill="var(--green-360"])>:first-child>.avatar-3QF_VA {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-online-color)
}
.header-S26rhB:has(svg[fill="var(--yellow-300"])>:first-child>.avatar-3QF_VA {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-idle-color) 
}
.header-S26rhB:has(svg[fill="var(--red-400"])>:first-child>.avatar-3QF_VA {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-dnd-color) 
}
/* Make a variable background for the people that want it (thanks aoi) */
.avatarHoverTarget-1zzfRL, .avatar-3QF_VA {
  background: var(--rs-avatar-background);
}
