:root {
/* Main */
    --main-background: url(https://shiggy.fun/api/v2/random);
    --main-brightness: 40%;
/*Collapsingsidebar*/
    --sidebar-width: 240px;
    --status-width: 240px;
    --sidebar-speed: .3s;
/*Settingswindow*/ 
    --settings-background: url(https://shiggy.fun/api/v2/random?a);
    --settings-width: 90vw;
    --settings-height: 90vh;
/*Oneko*/ 
    --oneko-skin: url(https://cdn.discordapp.com/attachments/1142160576588566608/1142162510749896714/valentine.png);
    --oneko-position-top: -30px;  /* vertical position */
    --oneko-position-left: 10px; /* horizontal position */
    --oneko-hovered-animation: runleft;  /* animation while hovered */
    --oneko-focused-animation: alert; 	/* animation while focused */
    --oneko-resolution: 1;
/*Radialstatus*/
    --rs-online-color: #43b581; /* default: #43b581 */
    --rs-idle-color: #faa61a; /* default: #faa61a */
    --rs-dnd-color: #f04747; /* default: #f04747 */
    --rs-offline-color: #636b75; /* default: #636b75 */
    --rs-bot-color: #5865f2; /* default: #5865f2 */
}