/*Base Clearvision and shiggycord files, must be active silly!*/
@import url(https://clearvision.github.io/ClearVision-v6/main.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Shiggycord/mainshiggy.css);


/*Shiggify things*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Shiggycord/shigging.css);
/*Optional animated shiggy home icon*/
/*@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Shiggycord/homeshiggy.css);*/
/*Oneko on home.       ONLY HAVE ONE HOME ICON ACTIVE AT A TIME!*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/homeoneko.css);

/*Some extra Addons*/

  /*Settings Window instead of the weird full page */
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/settingsmodal.css);

  /*Changed user popouts*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/userprofiles.css);

  /*Collapsing Things*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/collapsing.css);

  /*Status Rings*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/radialstatus.css);

  /*Hover Effect on many buttons*/
@import url(https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css);

  /*Hide all mentions of Nitro and Nitro features*/
@import url(https://raw.githubusercontent.com/D3SOX/complementary-discord-theme/master/hide-nitro-upselling.theme.css);

  /*Window Buttons moved into discord app*/
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Addons/winbar.css);


:root {
  --main-color: #778A0F; /*Colour of most things*/
  --hover-color: #444F0A; /*Colour of most things when hovered*/
  --success-color: #C7CE71; /**/
  --danger-color: #9A1E52; /**/
  --url-color: var(--main-color); /*Colour of URLs*/
  --background-image: url(https://media.discordapp.net/attachments/1107778270113562747/1134461911518412870/Kemomimi-Shantak-1-1-1.gif); /*The background image of the App*/
  --background-shading: 60%; /**/
  --background-position: center; /**/
  --background-size: cover; /**/
  --background-repeat: no-repeat; /**/
  --background-attachment: fixed; /**/
  --background-brightness: 100%; /**/
  --background-contrast: 100%; /**/
  --background-saturation: 100%; /**/
  --background-grayscale: 0%; /**/
  --background-invert: 0%; /**/
  --background-blur: 1px; /**/
  --background-overlay: rgba(0,0,0,0.6); /**/
  --user-popout-image: url(https://cdn.discordapp.com/attachments/860592935203766292/1123365749218623528/zQ6z0wU.jpg); /*Background Image for User Popouts*/
  --user-popout-position: center; /**/
  --user-popout-size: cover; /**/
  --user-popout-repeat: no-repeat; /**/
  --user-popout-attachment: fixed; /**/
  --user-popout-brightness: 100%; /**/
  --user-popout-contrast: 100%; /**/
  --user-popout-saturation: 100%; /**/
  --user-popout-grayscale: 0%; /**/
  --user-popout-invert: 0%; /**/
  --user-popout-blur: 1px; /**/
  --channel-unread: var(--main-color); /**/
  --channel-color: rgba(255,255,255,0.3); /**/
  --muted-color: rgba(255,255,255,0.1); /**/
  --online-color: #43b581; /**/
  --idle-color: #faa61a; /**/
  --dnd-color: #982929; /**/
  --streaming-color: #593695; /**/
  --offline-color: #808080; /**/
  --main-font: gg sans; /**/
  --code-font: Consolas; /**/
  --channels-width: 220px; /**/
  --members-width: 220px; /**/
  --rs-small-spacing: 2px; /*User list avatar space between avatar and ring*/
  --rs-medium-spacing: 3px; /*User popout avatar space between avatar and ring*/
  --rs-large-spacing: 4px; /*User profile avatar space between avatar and ring*/
  --rs-small-width: 2px; /*User list ring thickness*/
  --rs-medium-width: 3px; /*User popout ring thickness*/
  --rs-large-width: 4px; /*User profile ring thickness */
  --rs-avatar-shape: 50%; /*Roundness of the Avatar*/
  --rs-online-color: #43b581; /*Avatar Circle for people that are online normally*/
  --rs-idle-color: #faa61a; /*Avatar Circle for people that are on idle*/
  --rs-dnd-color: #f04747; /*Avatar Circle for people that are on DnD*/
  --rs-offline-color: #636b75; /*Avatar Circle for people that are offline*/
  --rs-streaming-color: #643da7; /*Avatar Circle for people streaming*/
  --settingsbackground: url(https://media.discordapp.net/attachments/1107778270113562747/1134461911518412870/Kemomimi-Shantak-1-1-1.gif);	/*Settings Background, supports colours and images*/
  --settingsbrightness: 40%; /*Brightness of the Settings Background, default: 40%*/
  --modalwidth: 85vw;	/* Modal (settings and reviewdb) window width, default:	85vw*/
  --modalheight: 85vh; /* Modal (settings and reviewdb) window height, default:	85vh*/
  --section-thickness: 2px; /* must be in pixels */
  --oneko-skin: url(https://cdn.discordapp.com/attachments/1131094081301381190/1133903241248251974/mike.png) ; /*https://discord.com/channels/1015060230222131221/1028106818368589824/1134464800378851349 go into thread for skins*/
}

/*Custom stuff below here!*/