:root { /*Radialstatus*/
    --rs-online-color: #23a55a;
    --rs-idle-color: #f0b232;
    --rs-dnd-color: #f23f43;
    --rs-offline-color: #636b75;
    --rs-bot-color: #5865f2;
    --rs-small-size: 1;
    --rs-small-roundness: 50%;
    --rs-small-thickness: 3px;
    --rs-medium-size: 1;
    --rs-medium-roundness: 25%;
    --rs-medium-thickness: 4px;
    --rs-large-size: 1;
    --rs-large-roundness: 50%;
    --rs-large-thickness: 6px;
    --rs-border-style: solid;
}
:root {
  --bg-settings-background: unset; /*Change the main background colour*/
  --bg-settings-overlay: unset; /*Make an animated overlay like the default example*/
  --bg-settings-overlay-animation: unset /*Advanced: Add an animation to the overlay*/;
}