/*the beginning of the end*/
:root { /* Main */
  --main-primary-colour: salmon;
  --main-primary-colour-transparency: 70%;
  --main-border-colour: var(--main-primary-colour);
  --main-border-thickness: 2px;
  --main-border-style: solid;
  --main-hover-colour: color-mix(in srgb, var(--main-primary-colour) var(--main-hover-transparency), transparent);
  --main-hover-transparency: 50%;
  --main-roundness: 1em;
  --main-icon-roundness: 100%;
}
/* temporary fixes for other stuff */
.avatar-31d8He {
  background-size: contain;
  aspect-ratio: 1;
}
.vc-rdb-review {
  overflow: hidden;
}
/* hide loading stuff so you see quicker :P [one of those background transparents has the other one... i am not finding it right now */
.wrapper-3HVHpV {
  opacity: 0;
}
/* Hide Stock Colours */
.folderIconWrapper-1oRIZr:is([style$="88, 101, 242, 0.4);"]), .folder-241Joy, .upload-vLbqu-, .content-3spvdd, .emptyChannelIcon-1YdEz2, .scrollbarGhostHairline-2LpzZ9, .circleIconButton-1VxDrg, .childWrapper-1j_1ub, .threadSuggestionBar-3ExSyc, .attachedBars-2BCP3l, .replyBar-1oi75v, .scrollableContainer-15eg7h, .linkTop-1W1aK6, .wrapper-NhbLHG>div>.link-1_kTxV {
  background: transparent !important;
  border: none;
}
/* Static Objects */
.wrapper-2SplAX, /* announcements notif*/
.button-TGAkj4, /* activity buttons */
.userPanelOverlayBackground-3Zmcq2, /* DM sidepanel profile*/
.searchBar-3TnChZ>.searchBarComponent-3N7dCG, /* dm search bar */
.searchBar-jGtisZ, /*channel search bar*/
.wrapper-2vIMkT, /* Message Toolbar */
#message-actions, /* message toolbar? */
.channelTextArea-1FufC0>.autocomplete-3NRXG8, /*emote autocomplete*/
.channelTextArea-1FufC0 /*messagebar*/
{
  background-color: color-mix(in srgb, var(--main-primary-colour), transparent var(--main-primary-colour-transparency));
  border-radius: var(--main-roundness);
  border: var(--main-border-thickness) var(--main-border-style) var(--main-border-colour);
}
/* Moving Objects */
.embed-hKpSrO, /* Message Embeds */
.embedWrapper-1MtIDg:not(.imageContent-3Av-9c), /* Website Embeds */
.wrapper-2PSQCG:has([style$="88, 101, 242, 0.4);"]), /* Uncoloured Folders*/ 
.wrapper-1HIH0j, /* Server Invites */ 
.listItemWrapper-3d87LP,  /*Servericons*/
.codeContainer-2LCL7Y, /*codeblocks*/
.selected-2TbFuo>.wrapper-NhbLHG, /*selected channel*/
.channel-1Shao0>.selected-26oxtA, /* selected dm */
.loaded-igpmmx>.card-2TuZPZ, /*Discover Servers*/
.reaction-3vwAF2 /* Reactions */
{
  background-color: color-mix(in srgb, var(--main-primary-colour), transparent var(--main-primary-colour-transparency))!important;
  border-radius: var(--main-roundness);
  border: var(--main-border-thickness) var(--main-border-style) var(--main-border-colour)!important;
}
/* Hovering Objects */
.channelTextArea-1FufC0:hover, /*messagebar*/
.codeContainer-2LCL7Y:hover, /*codeblocks*/
.wrapper-NhbLHG:hover, /*hovered channel*/
.listItemWrapper-3d87LP:hover, .listItemWrapper-3d87LP.selected-3a1QGn, /*Servericons*/
.channel-1Shao0>div:hover, /*hovered dm*/
.container-1oeRFJ:hover, /*hover on discover server channels and memberlist */
.card-2TuZPZ:hover, /*Discover Servers*/
.reaction-3vwAF2:hover /* Reactions */
{
  background-color: var(--main-hover-colour)!important; 
  border-radius: var(--main-roundness);
  border: var(--main-border-thickness) var(--main-border-style) var(--main-border-colour);
}
/* Small Fixes, dont ask */
.DraftEditor-root {
  top: -1px;
}
.contents-2MsGLg>.markup-eYLPri { 
  overflow: visible;
}
.wrapper-NhbLHG, .channel-1Shao0>div, .container-1oeRFJ {
  border: transparent var(--main-border-style) var(--main-border-thickness);
}
.wrapper-2vIMkT>div {
  padding-top: 2.5px;
}
.placeholder-1rCBhr, .expandedFolderIconWrapper-3RwQpD>svg{
  color: var(--main-border-colour) !important;
}
.expandedFolderIconWrapper-3RwQpD>svg {
  margin: 0 4px 4px 0;
}
.public-DraftEditorPlaceholder-root {
  margin-left: 33%;
}
.searchBarComponent-3N7dCG {
  text-align: center !important;
}
.codeContainer-2LCL7Y>.scrollbar-3vVt8d {
  border: none;
}
.listItemWrapper-3d87LP, .selected-1Drb7Z, .icon-3AqZ2e, .wrapper-2PSQCG {
  border-radius: calc(var(--main-icon-roundness)/2) !important;
}
.profilePanelConnections-1tVK8j+div {
  display: none;
}
