.container-2o3qEW {
  top: -48px;
  right: 0px;
  position: absolute;
  height: 100vh;
}
.chatContent-3KubbW {
  max-width: calc(100% - 240px)!important;
}
#vc-membercount {
  position: absolute;
  flex-direction: column;
  margin-top: 8px !important;
}
#vc-membercount>:last-child>:first-child {
  margin-left: 0px !important;
}
[aria-label="Members"] {
  margin-top: 32px;
}