:root {
  --sidebar-width: 240px;
  --status-width: 240px;
  --sidebar-speed: .3s;
}
.container-YkUktl {
  pointer-events: all;
}
.sidebar-1tnWFu, .profilePanel-2VBkh8, .container-2o3qEW {
  transition-duration: var(--sidebar-speed);
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
  width: 0px;
}
.sidebar-1tnWFu:after {
  bottom: 50vh;
  left: 0px;
}
.profilePanel-2VBkh8:after, .container-2o3qEW:after {
  rotate: 180deg;
  bottom: 50vh;
  right: 0px;
  }
.sidebar-1tnWFu:after, .profilePanel-2VBkh8:after, .container-2o3qEW:after {
  display: block;
  position: fixed;
  width: 20px;
  height: 40px;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><defs><clipPath><path fill="%2300f" fill-opacity=".514" d="m-7 1024.36h34v34h-34z"/></clipPath><clipPath><path fill="%23aade87" fill-opacity=".472" d="m-6 1028.36h32v32h-32z"/></clipPath></defs><path d="m345.44 248.29l-194.29 194.28c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744l171.91-171.91-171.91-171.9c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.29 194.28c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373" transform="matrix(.03541-.00013.00013.03541 2.98 3.02)" fill="%234d4d4d"/></svg>');
  background-repeat: no-repeat;
  content: "";
  z-index: 3;
  transition-duration: var(--sidebar-speed);
  transition-property: opacity;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
.sidebar-1tnWFu:hover:after, .profilePanel-2VBkh8:hover:after, .container-2o3qEW:hover:after {
  opacity: 0;
  transition-delay: 0s;
}
.content-1SgpWY:has(.sidebar-1tnWFu:hover)>.sidebar-1tnWFu, .container-2o3qEW:hover {
  width: var(--sidebar-width);
  transition-delay: 0s;
}
.profilePanel-2VBkh8:hover  {
  width: calc(var(--sidebar-width) * 1.41667);
  transition-delay: 0s;
}
.panels-3wFtMD {
  pointer-events: none;
}
.panels-3wFtMD>:not(.container-YkUktl) {
  width: calc(var(--sidebar-width) - 16px);
  margin: 0%;
}
.panels-3wFtMD>.wrapper-3Hk9OB {
  padding: 0px;
}
.panels-3wFtMD>.wrapper-3Hk9OB, .panel-2ZFCRb.activityPanel-9icbyU, #vc-spotify-player {
  width: 0px !important;
  opacity: 0;
  transition-duration: var(--sidebar-speed);
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
  transition-property: width, opacity;
}
#vc-spotify-player {
  padding: 6px 8px;
}
.content-1SgpWY:has(.sidebar-1tnWFu:hover)>.sidebar-1tnWFu>.panels-3wFtMD>.wrapper-3Hk9OB {
  opacity: 100;
  width: var(--sidebar-width) !important;
  transition-delay: 0s;
  pointer-events: all;
}
.content-1SgpWY:has(.sidebar-1tnWFu:hover)>.sidebar-1tnWFu>.panels-3wFtMD>#vc-spotify-player, .content-1SgpWY:has(.sidebar-1tnWFu:hover)>.sidebar-1tnWFu>.panels-3wFtMD>.panel-2ZFCRb.activityPanel-9icbyU {
  opacity: 100;
  width: calc(var(--sidebar-width) - 16px) !important;
  transition-delay: 0s;
  pointer-events: all;
}
.content-1SgpWY:has(#vc-spotify-player)>.sidebar-1tnWFu {
  height: 597.79px;
}
.content-1SgpWY:has(.wrapper-3Hk9OB>.container-1zzFcN)>.sidebar-1tnWFu {
  height: 623.12px;
}
.content-1SgpWY:has(.wrapper-3Hk9OB>.container-1zzFcN):has(#vc-spotify-player)>.sidebar-1tnWFu {
  height: 496.47px !important;
}
