.container-YkUktl {
    height: auto !important;
    padding: 12px 16px;
    flex-direction: column;
    align-items: stretch;
    row-gap: 8px;
}
.flex-2S1XBF > button {
    width: 100%;
}
.container-YkUktl > div:nth-child(2), #vc-spotify-player > div.vc-spotify-button-row, .container-1zzFcN > div:nth-child(2){
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
}
.container-YkUktl:hover > div:nth-child(2), #vc-spotify-player:hover > div.vc-spotify-button-row, .container-1zzFcN:hover > .actionButtons-2vEOUh {
    max-height: 32px !important;
}
.buttons-uaqb-5 {
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: all 350ms;
}
.buttons-uaqb-5:where(:not(:hover)){
    max-width: 35px;
}
.buttons-uaqb-5::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    bottom: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    width: 35px;
}
.buttons-uaqb-5:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 1000ms;
}
.buttons-uaqb-5:hover {
    transition: all 150ms;
    width: 255px;
}
.buttons-uaqb-5 > div, .buttons-uaqb-5 > button {
    transform: scaleX(0%) !important;
    opacity: 0%;
}
.buttons-uaqb-5:hover > div, .buttons-uaqb-5:hover > button {
    transform: scaleX(100%) !important;
    transition: opacity 300ms;
    opacity: 100%;
}
.buttons-uaqb-5 > div:hover svg, .buttons-uaqb-5 > button:hover svg {
    height: 26px !important;
    width: 26px !important;
}
.buttons-uaqb-5 > div svg, .buttons-uaqb-5 > button svg {
    transition: all 0.3s;
}
.container-YkUktl:hover > div:nth-child(2), #vc-spotify-player:hover > div.vc-spotify-button-row, .container-1zzFcN:hover > .actionButtons-2vEOUh {
    max-height: 32px;
}
