.sidebar-1tnWFu {
  transition-duration: .3s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
  width: 0%;
}
.sidebar-1tnWFu:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 40px;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><defs><clipPath><path fill="%2300f" fill-opacity=".514" d="m-7 1024.36h34v34h-34z"/></clipPath><clipPath><path fill="%23aade87" fill-opacity=".472" d="m-6 1028.36h32v32h-32z"/></clipPath></defs><path d="m345.44 248.29l-194.29 194.28c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744l171.91-171.91-171.91-171.9c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.29 194.28c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373" transform="matrix(.03541-.00013.00013.03541 2.98 3.02)" fill="%234d4d4d"/></svg>');
  background-repeat: no-repeat;
  top: calc(50% - 20px);
  left: 0px;
  content: "";
  z-index: 1;
}
.content-1SgpWY:has(.sidebar-1tnWFu:hover)>.sidebar-1tnWFu {
  width: var(--sidebar-width);
  transition-delay: 0s;
}
.panels-3wFtMD>:not(.container-YkUktl) {
  width: calc(var(--sidebar-width) - 16px);
  margin: 0%;
}
  .panels-3wFtMD>.wrapper-3Hk9OB {
  width: var(--sidebar-width);
  padding: 0%;
}
  .content-1SgpWY:has(#vc-spotify-player)>.sidebar-1tnWFu {
  height: 82.6%;
}
  .content-1SgpWY:has(.wrapper-3Hk9OB>.container-1zzFcN)>.sidebar-1tnWFu {
  height: 86.1%;
}
  .content-1SgpWY:has(.wrapper-3Hk9OB>.container-1zzFcN):has(#vc-spotify-player)>.sidebar-1tnWFu {
  height: 68.6% !important;
}
