/*Hide default backgrounds*/
[class^=standardSidebarView_], /*Main Background*/ 
[class^=contentRegion_], [class^=contentRegionScroller_], /*Right side*/
[class^=sidebarRegionScroller_] /*Left side*/ {
  background: none;
}
/*Settings background*/
[class^=layer_]+[class^=layer_] {
  background: var(--bg-settings-background, #1d1f21);
}
/*Settings overlay*/
[class^=layer_]+[class^=layer_]:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--bg-settings-overlay, url(https://raw.githubusercontent.com/coolesding/shiggycord/v3/img/snow.gif));
  pointer-events: none;
  animation: var(--bg-settings-overlay-animation)
}
/*Make main window visible*/
[class*=baseLayer] {
  transform: scale(1) !important;
  opacity: 1 !important;
}