@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/colliggy.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/shiggyfy.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/shigging.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Addons/radialstatus.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Addons/winbar.css);

:root {
  --sc-version: "1.0.0";
}
.theme-dark .container-YkUktl:before {
  content: "shiggycord";
  color: var(--main-color);
  font-size: 12px;
  right: 50%;
  bottom: -5%;
}
.theme-dark .container-YkUktl:after {
    content: var(--sc-version);
    color: var(--hover-color);
    left: 60%;
    font-size: 14px;
}
#app-mount .info-3pQQBb .text-xs-normal-3O7EaX.line-18uChy:first-child:before {
    content: "Shiggycord " var(--sc-version);
    display: block;
}
.buttons-uaqb-5 > .button-ejjZWC:first-child, #app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(3), #app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > nav > ul > div.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 > div:nth-child(2) ,#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > nav > ul > div.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 > div:nth-child(6) > div.listItemWrapper-3d87LP, [mask="url(#62972d41-0c73-4c89-ac45-101880b12e52)"], [aria-label="Explore Discoverable Servers"], [aria-label="Threads"], [aria-label="Notification Settings"], [aria-label="New Group DM"], .recentsIcon-F3eO1o, .anchor-1X4H4q {
  display: none;
}
