@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/colliggy.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/shiggyfy.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Shiggycord/shigging.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Addons/radialstatus.css);
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Addons/winbar.css);
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");
@import url(https://raw.githubusercontent.com/xdCoolesding/shiggycord/main/Source/Addons/settingsmodal.css);

:root {
  --sc-version: "1.1.2";
}

.theme-dark .container-YkUktl:before {
  content: "shiggycord";
  color: var(--main-color);
  font-size: 12px;
  right: 50%;
  bottom: -5%;
}
.theme-dark .container-YkUktl:after {
  content: var(--sc-version);
  color: var(--hover-color);
  left: 60%;
  font-size: 14px;
}
#app-mount .info-3pQQBb .text-xs-normal-3O7EaX.line-18uChy:first-child:before {
  content: "Shiggycord " var(--sc-version);
  display: block;
}
.buttons-uaqb-5 > .button-ejjZWC:first-child, #app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div > nav > div.scroller-WSmht3.thin-RnSY0a.scrollerBase-1Pkza4.fade-27X6bG > ul > li:nth-child(3),/*Nitro Button in Direct Messages*/
#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > nav > ul > div.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 > div:nth-child(5),/*Discover Servers*/
[mask="url(#62972d41-0c73-4c89-ac45-101880b12e52)"]/*ay i dont even know someone figure this one out please*/,
[aria-label="Threads"],/*Open Thread Icon in Toolbar */
[aria-label="Notification Settings"] /*Notification Settings Icon in Toolbar*/, 
[aria-label="New Group DM"]/*New Group DM in Friends Menu */, 
.recentsIcon-F3eO1o /*Unread Inbox */{
  display: none;
}