/*the beginning of the end*/
/*sets the background*/
.baseLayer-W6S8cY {
  background: var(--main-background);
  background-repeat: no-repeat;
  background-size: cover;
}
/*transparency so you can see the background*/
.sidebar-1tnWFu>.container-1NXEtd, .members-3WRCEx, .container-2o3qEW, .chat-2ZfjoI, .member-2gU6Ar, .container-q97qHp, .panels-3wFtMD, .panels-3wFtMD>#vc-spotify-player, .panels-3wFtMD>.container-YkUktl{
  background: transparent;
}
/*making specific parts darker for better reading*/
.container-2o3qEW {
  background: #00000090;
}
.chatContent-3KubbW, .chat-2ZfjoI>.title-31SJ6t {
  background: #000000A0;
}
.sidebar-1tnWFu {
  background: #00000090;
}
.guilds-2JjMmN {
  background: #00000090;
}
