.channelTextArea-1FufC0::before {
	top: var(--oneko-position-top);
	right: var(--oneko-position-right);
	z-index: var(--oneko-z-index);
	content: "";
	width: calc(32px/var(--oneko-resolution));
	height: calc(32px/var(--oneko-resolution));
	transform: scale(var(--oneko-resolution));
  position: absolute;
	image-rendering: pixelated;
	animation: sleep var(--oneko-sleep-duration) infinite;
	background-image: var(--oneko-skin);
}
.channelTextArea-1FufC0:hover::before {
	animation: var(--oneko-wakeup-duration) 1 forwards wakeup;
}
.channelTextArea-1FufC0:not(:hover)::before {
	animation: var(--oneko-wakeup-duration) 1 forwards gotosleep, var(--oneko-sleep-duration) var(--oneko-wakeup-duration) infinite sleep;
}
.channelTextArea-1FufC0:has(.editor-H2NA06:focus)::before {
	animation: var(--oneko-wakeup-duration) 1 forwards wakeup, var(--oneko-typing-duration) var(--oneko-wakeup-duration) infinite var(--oneko-typing-animation);
}
@keyframes sleep {
	0%,
	50% {
		background-position: -64px 0;
	}
	50.00001%,
	100% {
		background-position: -64px -32px;
	}
}
@keyframes alert {
	0%,
	50% {
		background-position: -224px -96px;
	}
	50.00001%,
	100% {
		background-position: -96px -96px;
	}
}
@keyframes run {
	0%,
	50% {
		background-position: -96px 2px;
	}
	50.00001%,
	100% {
		background-position: -96px -30px;
	}
}
@keyframes runleft {
	0%,
	50% {
		background-position: -128px -62px;
	}
	50.00001%,
	100% {
		background-position: -128px -94px;
	}
}
@keyframes wallscratchRight {
	0%,
	50% {
		background-position: -64px -62px;
	}
	50.00001%,
	100% {
		background-position: -64px -94px;
	}
}
@keyframes wallscratchLeft {
	0%,
	50% {
		background-position: -128px 2px;
	}
	50.00001%,
	100% {
		background-position: -128px -30px;
	}
}
@keyframes wallscratchUp {
	0%,
	50% {
		background-position: 0 0;
	}
	50.00001%,
	100% {
		background-position: 0 -32px;
	}
}
@keyframes wallscratchDown {
	0%,
	50% {
		background-position: -224px -30px;
	}
	50.00001%,
	100% {
		background-position: -192px -62px;
	}
}
@keyframes spinninL {
	0%,
	20% {
		background-position: -96px -30px;
	}
	20.00001%,
	40% {
		background-position: -160px -62px;
	}
	40.00001%,
	60% {
		background-position: -224px -62px;
	}
	60.00001%,
	80% {
		background-position: -192px -30px;
	}
	80.00001%,
	100% {
		background-position: -128px -94px;
	}
}
@keyframes spinninR {
	0%,
	20% {
		background-position: -128px -94px;
	}
	20.00001%,
	40% {
		background-position: -192px -30px;
	}
	40.00001%,
	60% {
		background-position: -224px -62px;
	}
	60.00001%,
	80% {
		background-position: -160px -62px;
	}
	80.00001%,
	100% {
		background-position: -96px -30px;
	}
}
@keyframes wakeup {
	0%,
	20% {
		background-position: -160px 0;
	}
	20.00001%,
	40% {
		background-position: -192px 0;
	}
	40.00001%,
	60% {
		background-position: -224px 0;
	}
	60.00001%,
	80% {
		background-position: -96px -64px;
	}
	80.00001%,
	100% {
		background-position: -96px -96px;
	}
}
@keyframes gotosleep {
	0%,
	20% {
		background-position: -96px -96px;
	}
	20.00001%,
	40% {
		background-position: -96px -64px;
	}
	40.00001%,
	60% {
		background-position: -224px 0;
	}
	60.00001%,
	80% {
		background-position: -192px 0;
	}
	80.00001%,
	100% {
		background-position: -160px 0;
	}
}
