.channelTextArea-1FufC0::before {
	top: var(--oneko-position-top);
	right: var(--oneko-position-right);
	z-index: var(--oneko-z-index);
	content: "";
	width: calc(32px/var(--oneko-resolution));
	height: calc(32px/var(--oneko-resolution));
	transform: scale(var(--oneko-resolution));
  	position: absolute;
	image-rendering: pixelated;
	animation: sleep var(--oneko-sleep-duration) infinite;
	background-image: var(--oneko-skin);
}
.channelTextArea-1FufC0:hover::before {
	animation: var(--oneko-wakeup-duration) 1 forwards wakeup;
}
.channelTextArea-1FufC0:not(:hover)::before {
	animation: var(--oneko-wakeup-duration) 1 forwards gotosleep, var(--oneko-sleep-duration) var(--oneko-wakeup-duration) infinite sleep;
}
.channelTextArea-1FufC0:has(.editor-H2NA06:focus)::before {
	animation: var(--oneko-wakeup-duration) 1 forwards wakeup, var(--oneko-typing-duration) var(--oneko-wakeup-duration) infinite var(--oneko-typing-animation);
}
