.contents-2MsGLg .vc-platform-indicator>svg, .pointerEvents-2KjWnj, .cursorDefault-2M8ZNp {
  display: none
}
.contents-2MsGLg .avatar-2e8lTP, .layout-1qmrhw .avatar-6qzftW {
  scale: var(--rs-small-size);
  margin-top: -0.25em;
  border: var(--rs-small-spacing) solid transparent;
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-small-roundness)/2);
}
.avatar-31d8He {
  z-index: 0;
  border-radius: calc(var(--rs-small-roundness)/2);
}
.contents-2MsGLg:has(svg[fill="var(--green-360"]) .avatar-2e8lTP, .layout-1qmrhw:has(svg[fill="var(--green-360"]) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-online-color)
}
.contents-2MsGLg:has(svg[fill="var(--yellow-300"]) .avatar-2e8lTP, .layout-1qmrhw:has(svg[fill="var(--yellow-300"]) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-idle-color)
}
.contents-2MsGLg:has(svg[fill="var(--red-400"]) .avatar-2e8lTP, .layout-1qmrhw:has(svg[fill="var(--red-400"]) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-dnd-color)
}
.contents-2MsGLg:has(svg[fill="var(--purple-400"]) .avatar-2e8lTP, .layout-1qmrhw:has(svg[fill="var(--purple-400"]) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-streaming-color)
}
.contents-2MsGLg:has(span[class*=botTag-][class*=botTagRegular-]) .avatar-2e8lTP, .layout-1qmrhw:has(span[class*=botTag-][class*=botTagRegular-]:not([data-tag="staff"],[data-tag="owner"],[data-tag="admin"],[data-tag="mod"],[data-tag="vc mod"])) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-bot-color)
}
