/* showing the window as it should be */
.layer-86YKbF:not(.baseLayer-W6S8cY) {
  height: var(--options-height);
  width: var(--options-width);
  left: calc((100vw - var(--options-width))/2);
  top: calc((100vh - var(--options-height))/2 - 22px);
  padding-top: 0px;
  border-radius: 1em;
  z-index: 1;
}
.baseLayer-W6S8cY {
  opacity: 1 !important;
  transform: scale(1) !important;
	z-index: 0;
}
/* small adjustments */
.sidebarRegionScroller-FXiQOh{
  justify-content: left !important;
}
.sidebar-nqHbhN {
  padding-top: 1em;
}
.standardSidebarView-E9Pc3j {
  top: 0px !important;
}


/* close when clicking outside */
.tools-kIrEGr, .closeButton-PCZcma {
	position: absolute;
	top: -5vh;
	left: 0;
	border-radius: 0;
  border: none;
	width: 150vw;
	height: 150vh;
  z-index: 1;
  cursor: default;
  background: var(--options-outside-background)!important;
}
.toolsContainer-25FL6V {
	z-index: -1;
}
