/*Nukes the discord branding*/
[class^=wordmarkWindows],
/*Check for specific things, if true, explod*/
[class^=typeWindows-]:not([class*=withBackgroundOverride-]), /*Check if settings are open*/
#app-mount:has([class^=container]>[class^=uploadArea]>[class^=uploadDropModal])>[class^=typeWindows] /*Check if threads are open on the side*/
{
    display: none
}
/*The window buttons themselves*/
[class^=winButton] {
    height: 47px;
    top: 0px
}
/*Hide the bar containing window buttons without hiding the buttons*/
[class^=typeWindows-] {
    height: 0;
    margin: 0
}
/*Move the icons in the titlebar to the left to make space for window buttons*/
[class^=title-] {
    width: calc(100% - 80px)
}
