/*The windows buttons themselves*/
[class^=winButton] {
    height: 47px;
}
  /*Hide the bar containing windows buttons without hiding the buttons*/
  [class^=typeWindows-] {
    height: 0
}
  /*Remove Discords Branding*/
  [class^=wordmarkWindows] {
    display: none;
}
  /*Move the icons in the titlebar to the left to make space for window buttons*/
  [class^=title-] {
    right: 80px;
}
  /*Move entire window up to the screen because for some reason i have to*/
  [class^=layers-] {
    top: -4px;
}