/*Check if settings are open, if so, explod*/
[class^=typeWindows-]:not([class*=withBackgroundOverride-]) {
    display: none
}
/*The window buttons themselves*/
[class^=winButton] {
    height: 47px;
    top: 0px
}
/*Hide the bar containing window buttons without hiding the buttons*/
[class^=typeWindows-] {
    height: 0;
    margin: 0
}
/*Remove Discords Branding*/
[class^=wordmarkWindows] {
    display: none
}
/*Move the icons in the titlebar to the left to make space for window buttons*/
[class^=title-] {
    width: calc(100% - 80px)
}