/*Change background of the main window specifically (needs !important) and fixes flashbang*/
[class*=baseLayer] {
  background: #1d1f21 !important;
  transform: scale(1) !important;
}
/*Add new background*/
[class*=baseLayer]:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(https://wapchan.org/.static/snow.gif);
  pointer-events: none;
}
/*Hide default backgrounds*/
body, #app-mount, [class^=app-], [class^=bg-], /*Entire App classes with backgrounds*/
[class*=guilds-], /*Serverlist*/
[class^=sidebar-], [class^=sidebar-]>[class^=container-], /*Channellist*/ [class^=panels-], 
[class^=privateChannels-], [class^=privateChannels]>[class^=scroller-], /*Dmlist*/
[class^=panels-]>[class^=container-], /*UserPanel*/
[class^=chat], [class^=chatContent], [class^=chat]>[class^=title-], /*Chat*/
[class^=chat-]>[class^=header-], [class^=chat-]>[class^=content-], [class^=content-]>[class^=chat-], [class^=prompt-], /*Channels and Roles*/
[class^=scroller-]>[class^=content-], [class^=mainTableContainer-],
[class^=content]>[class^=container-]+[class^=container-], [class^=membersWrap]>[class^=members-], [class^=content-]>[class^=member-] /*Memberlist*/ {
  background: none;
}
/*Remove random awkward pseudoelements*/
[class^=form-]:before, [class^=children-]:after {
  display: none;
}
/*Maybe fix offset app*/
[class*=baseLayer] {
  display: block !important;
}
