/*Change background of the main window specifically (needs !important) and fixes flashbang*/
[class*=baseLayer] {
  background: var(--bg-main, var(--background-primary)) !important;
  transform: scale(1) !important;
}
/*Add new background*/
[class*=baseLayer]:before {
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  background: var(--bg-overlay, url(https://wapchan.org/.static/snow.gif));
  pointer-events: none;
  animation: var(--bg-overlay-animation)
}
/*Hide default backgrounds*/
body, #app-mount, [class^=app-], [class^=bg-], /*Entire app classes with backgrounds*/
[class*=guilds-], /*Serverlist*/
[class^=sidebar-], [class^=sidebar-]>[class^=container-], /*Channellist*/ [class^=panels-], 
[class^=privateChannels-], [class^=privateChannels]>[class^=scroller-], /*Dmlist*/
[class^=panels-]>[class^=container-], /*UserPanel*/
[class^=chat], [class^=chatContent], [class^=chat]>[class^=title-], /*Chat*/
[class^=chat-]>[class^=header-], [class^=chat-]>[class^=content-], [class^=content-]>[class^=chat-], [class^=prompt-], /*Channels and roles*/
[class^=scroller-]>[class^=content-], [class^=mainTableContainer-], /*Members in servers*/
[class^=content-]>[class^=container-], [class^=content-]>[class^=container-]>[class*=container-], /*Friendslist*/
[class^=nowPlayingColumn-], [class^=nowPlayingColumn-]>[class^=container-], [class^=itemCard-], /*Now playing column*/
[class^=chatLayerWrapper-]>[class^=container-], [class^=container-]>[class^=container-]>[class^=container-], /*Create thread*/
[class^=content]>[class^=container-]+[class^=container-], [class^=membersWrap]>[class^=members-], [class^=content-]>[class^=member-] /*Memberlist*/ {
  background: none;
}
/*Hide default backgrounds (!important required)*/
[class^=pageWrapper] /*Discover servers page*/
{
  background: none !important;
}
/*Remove random awkward pseudoelements*/
[class^=form-]:before, [class^=children-]:after {
  display: none;
}