/*Give every avatar a ring and make it round*/
:is([class^=memberInner_],[class^=header_],[class^=layout_])>:is([class^=avatar_],:first-child)>[class^=wrapper_],/*Memberlist, Profile, Dmlist*/
[class^=contents_]>[class^=avatar_], /*Chat*/ 
[class^=userPopoutInner_]>[class^=clickable_], /*Userpopout*/
[class^=avatarWrapper_]>[class^=wrapper_], /*Userpanel*/
[class^=userInfo_]>[class^=wrapper_] /*Friendlist*/
{
  border: var(--rs-offline-color) var(--rs-small-thickness) var(--rs-border-style);
  aspect-ratio: 1;
}
/*Change to online colour if online
If it has an svg that is either the only child of its parent or that is the last type on the list that isn't the mobile icon. Lastly check if it is the correct colour */
:is([class^=memberInner_],[class^=header_],[class^=layout_]):has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--green-360"]))>:is([class^=avatar_],:first-child)>[class^=wrapper_],/*Memberlist, Profile, Dmlist*/
[class^=contents_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--green-360"]))>[class^=avatar_], /*Chat*/ 
[class^=userPopoutInner_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--green-360"]))>[class^=clickable_], /*Userpopout*/
[class^=avatarWrapper_]>[class^=wrapper_]:has(>svg>svg>rect:is([fill="#23a55a"])),
[class^=userInfo_]>[class^=wrapper_]:has(>svg>rect:is([fill="#23a55a"]))
{
  border-color: var(--rs-online-color);
}
/*Change to idle colour if idle*/
:is([class^=memberInner_],[class^=header_],[class^=layout_]):has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--yellow-300"]))>:is([class^=avatar_],:first-child)>[class^=wrapper_],/*Memberlist, Profile, Dmlist*/
[class^=contents_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--yellow-300"]))>[class^=avatar_], /*Chat*/ 
[class^=userPopoutInner_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--yellow-300"]))>[class^=clickable_], /*Userpopout*/
[class^=avatarWrapper_]>[class^=wrapper_]:has(>svg>svg>rect:is([fill="#f0b232"])),
[class^=userInfo_]>[class^=wrapper_]:has(>svg>rect:is([fill="#f0b232"]))
{
  border-color: var(--rs-idle-color);
}
/*Change to dnd colour if on dnd*/
:is([class^=memberInner_],[class^=header_],[class^=layout_]):has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--red-400"]))>:is([class^=avatar_],:first-child)>[class^=wrapper_],/*Memberlist, Profile, Dmlist*/
[class^=contents_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--red-400"]))>[class^=avatar_], /*Chat*/ 
[class^=userPopoutInner_]:has(svg:is(:only-child, :not([aria-label="Mobile"]):last-of-type):is([fill="var(--red-400"]))>[class^=clickable_], /*Userpopout*/
[class^=avatarWrapper_]>[class^=wrapper_]:has(>svg>svg>rect[fill="#f23f43"]),
[class^=userInfo_]>[class^=wrapper_]:has(>svg>rect:is([fill="#f23f43"]))
{
  border-color: var(--rs-dnd-color);
}
/*Change to bot colour if it's a bot*/
:is([class^=memberInner_],[class^=layout_]):has([data-tag^=bot])>:is([class^=avatar_],:first-child)>[class^=wrapper_],/*Memberlist, Dmlist*/
[class^=contents_]:has([data-tag^=bot])>[class^=avatar_], /*Chat*/ 
[class^=userPopoutInner_]:has([data-tag^=bot])>[class^=clickable_], /*Userpopout*/ 
[class^=userProfileModalInner_]:has([data-tag^=bot])>[class^=topSection_]>header>[class^=header_]>:first-child>[class^=wrapper_] /*Profile*/
{
  border-color: var(--rs-bot-color);
}
/*Specific thicknesses*/
[class^=header_]>:first-child>[class^=wrapper_] /*Profile*/ {
  border-width: var(--rs-large-thickness);
}
[class^=userPopoutInner_]>[class^=clickable_] /*Userpopout*/ {
  border-width: var(--rs-medium-thickness);
}
/*Remove unnecessary, buggy components*/
rect[class^=pointerEvents_], /*Default status indicator*/
[class^=wrapper_]>svg>circle, /*Default status indicator residue in popout and profile*/
[class^=bannerSVGWrapper_]>mask, /*Background behind avatar in popout and profile*/
[class^=clickable_]>svg, /*"View Profile" text and Background*/ 
[class^=wrapper_]>[class^=mask]>svg, /*Moon and DND symbol*/
[class^=wrapper_]>svg>rect /*Mobile status indicator residue in popout and profile*/{
display: none;
}
/*Fix default status indicator residue in memberlist*/
[class^=avatarStack_]>[class^=avatar_] {
z-index: 1;
border-radius: 50%;
}
