/*Nukes the discord branding*/
[class^=wordmarkWindows_],
/*Check for specific things, if true, explod*/
[class^=typeWindows_]:not([class*=withBackgroundOverride_]), /*Check if settings are open*/
#app-mount:has([class^=container_]>[class^=uploadArea_],[class^=chatLayerWrapper]>[class^=container]>[class^=container],[class^=pageWrapper_])>[class^=typeWindows_] /*Threads on the side, Discover server, Message requests*/ {
    display: none
}
/*The window buttons themselves*/
[class^=winButton] {
    height: 47px;
    top: 0px
}
/*Hide the bar containing window buttons without hiding the buttons*/
[class^=typeWindows_] {
    height: 0;
    margin: 0
}
/*Move the icons in the titlebar to the left to make space for window buttons*/
[class^=content_]:not(:has([class^=container_]>[class^=container_]>[class^=container_]))>[class^=chat_]>[class^=title_], 
[class^=chat_]>[class^=header_], 
[class^=base_]>[class^=content_]>[class^=container_]>[class*=container_]:not([aria-label]) {
    width: calc(100% - 80px)
}
